@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Import Poppins Fonts */
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/poppins/400-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 500;
    font-display: swap;
    src: url(fonts/poppins/500-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 600;
    font-display: swap;
    src: url(fonts/poppins/600-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/poppins/700-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 800;
    font-display: swap;
    src: url(fonts/poppins/800-ExtraBold.ttf) format('truetype');
  }

  /* Import OpenSans Fonts */
  @font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/open-sans/400-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 500;
    font-display: swap;
    src: url(fonts/open-sans/500-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 600;
    font-display: swap;
    src: url(fonts/open-sans/600-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/open-sans/700-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 800;
    font-display: swap;
    src: url(fonts/open-sans/800-ExtraBold.ttf) format('truetype');
  }

  :root {
    --background: '#fbfaff';
    --foreground: '#1c1b1f';

    --primary: '';
    --primary-foreground: '';

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: '#f3f3f3';
  }
  .dark {
    --background: '#15141c';
    --foreground: '#f7f6ff';

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: '#f3f3f3';
  }
}
